name: scraper-test-3rd-bidder

on:
  push:
    branches:
      - 'scrapdev2'
  workflow_dispatch:

jobs:
  scheduled_job:
    if: github.ref == 'refs/heads/scrapdev2' # Only run on 'scrapdev2' branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      # Add your job steps here

  scraping:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10.12'
      
      - name: Install python module
        run: |
          python -m pip install --upgrade pip
          pip install playwright
          playwright install --with-deps firefox

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.1.1'
        
      - name: Install R library
        run: |
          sudo apt-get install libcurl4-openssl-dev
          Rscript -e 'install.packages(c("dplyr", "googlesheets4", "jsonlite"))'
        
      - name: Run scraper
        run: python scraper.py

      - name: Run wrangler
        run: Rscript wrangler.R

      - name: Run forwarder
        env:
          CRED_PATH: ${{ secrets.CRED_PATH }}
          SECRET_TOKEN: ${{ secrets.SECRET_TOKEN }}
          SHEETS_TEST: ${{ secrets.SHEETS_TEST }}
        run: | 
          echo $SECRET_TOKEN >> $CRED_PATH
          Rscript foreclose.R
          Rscript taxdeed.R
          rm $CRED_PATH

